<div class="list-group-item list-group-item-action <%='unread-notification'  if !notification.read_at %>">

  <div class="media">
    <div class="align-self-start mr-2">
      <div class="notification-avatar"><%= image_tag avatar , class: 'rounded-circle img-fluid'%></div>
    </div>
    <div class="media-body">
      <p class="m-0"><%= title %></p>
      <p class="m-0 notification-item-content"><strong><%=content%></strong><small class = "text-muted ml-2"> <em><%= time_ago_in_words notification.created_at %> ago</em></small></p>
    </div>
  </div>

</div>

