<div class="list-group-item list-group-item-action <%='unread-notification'  if !notification.read_at %>">

  <div class="media">
    <div class="align-self-start mr-2">
      <div class="notification-avatar"><%= gravatar_for(user, "rounded-circle img-fluid") %></div>
    </div>
    <div class="media-body">
      <p class="m-0 notification-item-title"><%= title %></p>
      <p class="m-0 notification-item-content"><%=content%><small class = "text-muted ml-2"> <em><%= time_ago_in_words notification.created_at %>前</em></small></p>
    </div>
  </div>

</div>

