<form>
  <fieldset disabled>
    <div class="form-group">
      <label for="disabledTextInput">Answer
        </label>
        <% if instance.modifier %>
          <div class="info d-inline float-right"><small><em><%=instance.modifier.name%> 於 <%= instance.updated_at%> 更新了答案</em></small></div>
        <%end%>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="<%=instance.answer%>">
    </div>
  </fieldset>
</form>
<%= link_to '再次編輯', edit_instance_path(instance),remote: true, class: "btn btn-outline-primary " %>
<%= link_to "提交任務成果", submit_instance_path(@instance),method: :post, class: "btn btn-primary ml-2" ,data: {confirm: '提交任務後就不能修改，你有跟組員充分溝通嗎？'}%>
