<div class="row mb-4">
  <div class="col-12 my-3">
    <div class="d-flex justify-content-between">
      <div class=""><h4>任務筆記與留言</h4></div>
      <div class=""><span class="ml-2 fa fa-question-circle  " title="" data-container="body" data-trigger='hover' data-toggle="popover" data-placement="top" data-content="可以留下自己的筆記，本欄支援markdown語法，或者與您的夥伴交換任務資訊。"> </span></div>
    </div>
  </div>
  <div class="col-12">
    <% @instance_msgs.each do |msg| %>
      <div class="col-12 m-0">
        <div class="table-responsive">
          <table class="table m-0">
            <tbody>
              <tr>
                <td class="b0 wd-xs d-md-table-cell text-center">
                  <%= gravatar_for(msg.user, "img-fluid rounded-circle img-thumbnail thumb48") %>
                  <span><%= msg.user.name %></span>
                </td>
                <td class="b0">
                  <div class="bg-gray-darker px-3 py-2 rounded ">
                    <span ><%= to_markdown(msg.content) %></span>
                  </div>
                  <span class="text-muted mt-1"><%= time_ago_in_words(msg.updated_at) + '前' %></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if @instance.state == 'in_progress' %>
  <%= simple_form_for @instance_msg ,url: instance_instance_msgs_path(@instance) do |f| %>
    <%= f.input :content, label: false, placeholder:'留下筆記留言...'%>
    <%= f.button :submit, '送出', class:"btn btn-primary" %>
  <%end%>
<% end %>

<!-- <script>
  // 按enter可以直接送出
  $('#new_instance_msg').keypress(function (e) {
        if(e.which == 13 && !e.shiftKey) {
            // e.form.submit();
            console.log(e);
            e.preventDefault()
            $('#new_instance_msg').submit();
        }
    });
</script> -->
