<h1>評價</h1>

<% @members.each do |member| %>
  <% if current_user != member %>
    <% if member.be_reviewed_from?(current_user, @instance) %>
      <h3>你對<%=member.name%>的評價</h3>
      <%=  member.reviews.find_by_instance_reviewer(@instance,current_user)[0].comment %>
    <% else %>
      <%= link_to '給'+ member.name + '一個評價！', review_instance_path(@instance,member) %>
    <% end %>
  <%end%>
<%end%>

<h3>其他人對你的評價：</h3>
<ul>
  <% @current_user_reviews.each do |review| %>
    <li>
      <%= review.reviewer.name %> 說：<%= review.comment %>
    </li>
  <%end%>    
</ul>
