<div class="card card-default">
  <div class="card-body bb">
    <div class="clearfix">
      <div class="float-left">
        <h4><%= @mission.name %></h4>
        <%= render partial: 'shared/mission_tags', locals: {mission: @mission} %>
      </div>
      <div class="float-right">
        <%= abort_button(@instance) %><%= cancel_button(@instance) %>
      </div>
    </div>
  </div>
  <div class="card-body bb">
    <%= image_tag @mission.image_url, class: "rounded img-fluid my-3" %>
    <p><%= @mission.description %></p>
  </div>
  <div class="card-body">
    <p ><strong>任務進度<strong></p>
    <div class="d-flex align-items-center">
      <div class="w-100">
        <div class="progress progress-xs m-0">
          <div class="progress-bar bg-warning-dark" style="width:<%= progress_num(@instance) %>%;"></div>
        </div>
      </div>
      <div class="wd-xxs text-right">
        <div class="text-bold text-muted"><%= progress_num(@instance) %>%</div>
      </div>
    </div>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <strong>Level</strong>
        </td>
        <td><%= @mission.level %></td>
      </tr>
      <tr>
        <td>
          <strong>任務人數</strong>
        </td>
        <td><%= @mission.participant_number %></td>
      </tr>
      <tr>
        <td>
          <strong>XP</strong><span class="float-right fa fa-question-circle  " title="" data-container="body" data-trigger='hover' data-toggle="popover" data-placement="top" data-content="完成本次任務後你即可獲得的經驗值。"> </span>
        </td>
        <td><%= @mission.xp %></td>
      </tr>
    </tbody>
  </table>
</div>
