<div class="row mb-4">
  <div class="col-12">
    <h3>任務詳情</h3>
  </div>
  <div class="col-12 my-2">
    <div class="card" >
      <div class="row">
        <div class="col-4 pr-0">
          <div class="card-body h-100 card-img-left" style="background-image: url(<%= mission.image_url %>);" ></div>
        </div>
        <div class="col-8 pl-0">
          <div class="card-body">
            <h5 class="card-title"><%= mission.name %></h5>
            <p class="card-text"><span class="badge badge-success">Level <%= mission.level %></span> <span class="badge badge-success">Team# <%= mission.participant_number %></span> <span class="badge badge-info">XP+ <%= instance.xp %></span></p>
            <p class="card-text"><%= mission.description %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
