<div class="row mb-4">
  <div class="col-12">
    <h4>任務筆記與留言</h4>
  </div>
  <div class="col">
    <ul>
      <% @instance_msgs.each do |msg| %>
        <li><%= msg.user.name %> 說： <%=simple_format msg.content %></li>
      <% end %>
    </ul>
  </div>
</div>

<% if @instance.state == 'in_progress' %>
  <%= simple_form_for @instance_msg ,url: instance_instance_msgs_path(@instance) do |f| %>
    <%= f.input :content, label: false, placeholder:'留下筆記留言...'%>
    <%= f.button :submit, '送出', class:"btn btn-primary" %>
  <%end%>
<% end %>


<script>
  // 按enter可以直接送出
  $('#new_instance_msg').keypress(function (e) {
        if(e.which == 13 && !e.shiftKey) {
            // e.form.submit();
            console.log(e);
            e.preventDefault()
            $('#new_instance_msg').submit();
        }
    });
</script>