<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 py-3 px-4">
      <%= render 'layouts/notice' %>
      <div class="container">
        <h1>副本已終止</h1>
        <%= render partial:"mission_info", locals:{mission: @mission} %>
        <%= render partial: "member_info", locals:{members: @members} %>

        <%= link_to "回首頁", root_path, class:"btn btn-secondary"%>
      </div>
    </main>
  </div>
</div>
