<aside class="aside-container">
  <%= render partial: "layouts/sidebar" %>
</aside>
<aside class="offsidebar d-none">
  <%= render partial: "layouts/right_sidebar" %>
</aside>
<section>
  <div class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <h3><%= title '任務檔案室' %></h3>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-11 col-sm-10 card card-default">
            <div class="card-header d-flex align-items-center">
              <div class="d-flex justify-content-center col">
                <div class="h4 m-0 text-center">執行過的任務</div>
              </div>
            </div>
            <div class="card-body">
              <div class="row py-4 justify-content-center">
                <% @instances_history.each do|instance| %>
                  <div class="col-6 col-lg-4 col-xl-3">
                    <div class="card">
                      <% if review_submited?(instance,current_user) %>
                        <div class="ribbon-wrapper">
                          <div class="ribbon bg-danger">尚未給評</div>
                        </div>
                      <% end %>
                      <div class="card-body text-center bb">
                        <p class="mb-3">
                          <%= link_to instance_path(instance) do%>
                            <%= image_tag instance.mission.image_url, class: "rounded thumb96"%>
                          <% end %>
                        </p>
                        <p class="m-0">
                          <h4><%= link_to instance.mission.name, instance_path(instance) %></h4>
                          <span class="badge bg-dark">L<%= instance.mission.level %></span>
                          <% if instance.state == 'complete' %>
                            <span class="badge bg-dark">Mission <%= instance.state %></span>
                          <% else %>
                            <span class="badge bg-dark">Mission <%= instance.state %></span>
                          <% end %>
                        </p>
                        <p class="m-0">
                          <%= render partial: 'shared/mission_tags', locals: {mission: instance.mission} %>
                        </p>
                      </div>
                      <div class="card-body">
                          <div class="row">
                            <% instance.members.each do |member| %>
                            <div class="col text-center">
                              <%= link_to user_path(member), remote: true do%>
                                <%= gravatar_for(member, "img-thumbnail rounded-circle thumb32") %><br>
                                <%= member.name %>
                              <% end %>
                               </div>
                            <% end %>
                          </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





<script>
  $(document).ready(function() {
    $('#instance_list').DataTable({
      "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]],
      "order": [[ 1, "desc" ]],
      "columnDefs": [{ "orderable": false, "targets": [3,5] }]
    });
} );
</script>
