<aside class="aside-container">
  <%= render partial: "layouts/sidebar" %>
</aside>
<section>
  <div class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <h3><%= @instance.mission.name %> <%= instance_title(@instance) %> </h3>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-8">
            <% case @instance.state %>
              <% when "teaming" %>
                <%= render partial:'/instances/state/teaming' %>
              <% when "in_progress" %>
                <%= render partial:'/instances/state/in_progress' %>
              <% when "complete" %>
                <%= render partial:'/instances/state/complete' %>
                <div class="text-center"><%= link_to '回任務檔案室', history_instances_path, class: 'btn bg-gray-darker' %></div>
              <% when "abort" %>
                <%= render partial:'/instances/state/abort' %>
                <div class="text-center"><%= link_to '回任務檔案室', history_instances_path, class: 'btn bg-gray-darker' %></div>
            <% end %>
          </div>
          <div class="col-xl-4">
            <%= render partial: 'leave_review' if @mission.participant_number > 1 && (@instance.state == 'complete' || @instance.state == 'abort')%>
            <%= render partial:'mission_info' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
