<aside class="aside-container">
  <%= render partial: "layouts/sidebar" %>
</aside>
<section>
  <div class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <h3><%= @instance.mission.name %> <%= instance_title(@instance) %><span class="ml-3"><%= abort_button(@instance) %><%= cancel_button(@instance) %></span></h3>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-8">
            <% case @instance.state %>
              <% when "teaming" %>
                <%= render partial:'/instances/state/teaming' %>
              <% when "in_progress" %>
                <%= render partial:'/instances/state/in_progress' %>
              <% when "complete" %>
                <%= render partial:'/instances/state/complete' %>
              <% when "abort" %>
                <%= render partial:'/instances/state/abort' %>
            <% end %>
          </div>
          <div class="col-xl-4">
            <%= render partial: 'leave_review' if @instance.state == 'complete' || @instance.state == 'abort'%>
            <%= render partial:'mission_info', locals: {mission: @mission} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
