<div class="container">
  <table class="table">
    <tbody>
      <tr>
        <td colspan="2"><%= image_tag @mission.image_url %></td>
      </tr>
      <tr>
        <th sope="row">id</th>
        <td><%= @mission.id %></td>
      </tr>
      <tr>
        <th sope="row">name</th>
        <td><%= @mission.name %></td>
      </tr>
      <tr>
        <th sope="row">level</th>
        <td><%= @mission.level %></td>
      </tr>
      <tr>
        <th sope="row">participant number</th>
        <td><%= @mission.participant_number %></td>
      </tr>
      <tr>
        <th sope="row">invitation number</th>
        <td><%= @mission.invitation_number %></td>
      </tr>
      <tr>
        <th sope="row">description</th>
        <td><%=simple_format @mission.description %></td>
      </tr>


    </tbody>
  </table>

  <%= link_to "回後台首頁", admin_missions_path, class: "btn btn-primary" %>
  <%= link_to "編輯", edit_admin_mission_path(@mission), class: "btn btn-success" %>
</div>