<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">關於 <%=@user.name%> 探員</h4>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="card card-default col-10">
            <div class="card-body text-center">
              <div class="user-block py-4">
                <div class="user-block-picture w-50">
                  <%= gravatar_for(@user,"rounded-circle img-thumbnail thumb96") %>
                  <div class='user-block-status'>
                    <% if @user.available %>
                      <div class="circle bg-success circle-lg"></div>
                    <% else %>
                      <div class="circle bg-danger circle-lg"></div>
                    <% end %>
                  </div>
                </div>
              </div>
              <h3 class="m-0 text-bold"><%= @user.name %></h3>
              <%= content_tag(:span, "It's Me" , class: "badge bg-gray-darker mt-2") if @user == current_user%>
              <div class="my-3">
                <p><%= @user.description %></p>
                <p><%= link_to '探員詳細資訊', user_path(@user) %></p>
              </div>
            </div>
            <div class="card-body bt text-center">
              <div class="row">
                <div class="col-4 br">
                  <strong class="text-primary">Level</strong><br>
                  <strong><%= @user.level %></strong>
                </div>
                <div class="col-4 br">
                  <strong class="text-success">XP</strong><br>
                  <strong><%= @user.xp %></strong>
                </div>
                <div class="col-4">
                  <strong class="text-warning">評價</strong><br>
                  <strong><%= @user.average_rating_count %></strong>
                </div>
              </div>
            </div>
          </div>
          <%= render partial: "shared/follow", locals: {user: @user} %>
        </div>
      </div>
    </div>
  </div>
</div>
