<aside class="aside-container">
  <%= render partial: "layouts/sidebar" %>
</aside>
<section>
  <div class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <h3>變更 探員檔案</h3>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card card-default">
            <div class="card-header d-flex align-items-center">
              <div class="d-flex justify-content-center col">
                <div class="h4 m-0 text-center">目前檔案</div>
              </div>
            </div>
            <div class="card-body text-center">
              <div class="pb-4">
                <%= gravatar_for(@user, "img-fluid rounded-circle img-thumbnail thumb96") %>
              </div>
              <h3 class="m-0 text-bold"><%= @user.name %></h3>
              <div class="my-3">
                <p><%= @user.description %></p>
              </div>
            </div>
            <div class="card-body bt text-center">
              <div class="row">
                <div class="col-4 br">
                  <strong class="text-primary">Level</strong><br>
                  <strong><%= @user.level %></strong>
                </div>
                <div class="col-4 br">
                  <strong class="text-success">XP</strong><br>
                  <strong><%= @user.xp %></strong>
                </div>
                <div class="col-4">
                  <strong class="text-purple">邀請狀態</strong><br>
                  <strong><%= transcript_user_state(@user.available) %></strong>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card card-default">
            <div class="card-header d-flex align-items-center">
              <div class="d-flex justify-content-center col">
                <div class="h4 m-0 text-center">編輯個人資訊</div>
              </div>
            </div>
            <div class="card-body">
              <div class="row py-4 justify-content-center">
                <%= simple_form_for @user ,html: { class: "form-horizontal"}  do |f| %>
                  <div class="form-group row">
                    <div class="col-12">
                    <%= image_tag @user.avatar_url , class: "img-fluid img-thumbnail w-50 mb-3" if @user.avatar_url %>
                    <%= f.input :avatar, label: "更換大頭貼" %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-12">
                      <%= f.input :name, label: "名字", label_html: {class: "text-bold float-left" }, class: "form-control" %>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-12">
                      <%= f.input :description, label: "自我介紹", label_html: {class: "text-bold float-left" }, class: "form-control" %>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-12">
                    <%= f.input :available, label: "邀請信箱 ", label_html: {class: "text-bold float-left" }, class: "form-control" ,as: :select, collection: [['開啟', true], ['關閉', false]]%>
                    </div>
                  </div>

                  <%= f.submit "送出", class: "btn btn-primary" %>

                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
