<aside class="aside-container">
  <%= render partial: "layouts/sidebar" %>
</aside>
<section>
  <div class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <h3>探員資料庫</h3>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <%= render 'user_nav' %>
        </div>
        <% if @tag == 'all' %>
          <%= render( partial: 'shared/filterrific_user_form' ) %>
        <% end %>
        <%= render( partial: 'users_list', locals: { users: @users } ) %>
        <%= paginate @users %>
      </div>
    </div>
  </div>
</section>
