<aside class="aside-container">
  <%= render partial: "layouts/sidebar" %>
</aside>
<aside class="offsidebar d-none">
  <%= render partial: "layouts/right_sidebar" %>
</aside>
<section>
  <div class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <h3><%= title '探員檔案' %></h3>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-default">
              <div class="card-body text-center">
                <div class="py-4">
                  <%= gravatar_for(@user, "img-fluid rounded-circle img-thumbnail thumb96") %>
                </div>
                <h3 class="m-0 text-bold"><%= @user.name %></h3>
                <div class="my-3">
                  <p><%= @user.description %></p>
                </div>
              </div>
              <div class="card-body bt text-center">
                <div class="row">
                  <div class="col-4 br">
                    <strong class="text-primary">Level</strong><br>
                    <strong><%= @user.level %></strong>
                  </div>
                  <div class="col-4 br">
                    <strong class="text-success">XP</strong><br>
                    <strong><%= @user.xp %></strong>
                  </div>
                  <div class="col-4">
                    <strong class="text-purple">邀請狀態</strong><br>
                    <strong><%= transcript_user_state(@user.available) %></strong>
                  </div>
                </div>
              </div>
             <% if @user.have_github_username? %>
                <div class="card-body bt">
                  <div class="row">
                    <div class="col-6 text-center">
                      <%= link_to "Github", @user.github_url, class: "fa fa-github fa-lg" %>
                    </div>
                    <div class="col-6 text-center">
                      <%= link_to "Repos(#{@user.github_repos_count})", @user.github_repos_url, class: "icon-layers fa-lg" %>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="card-body bt">
                <div class="row">
                  <div class="col-12 text-center">
                    <% if @user == current_user %>
                      <%= link_to "Edit Profile", edit_user_path(current_user), class: "btn bg-warning" %>
                    <% else %>
                      <%= render partial: "shared/follow", locals: {user: @user} %>
                      <%= link_to "邀請組隊", teaming_missions_path(user_id: @user.id), class: "btn btn-primary" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-default d-none d-lg-block">
              <div class="card-header">
                <div class="card-title text-center">近期追蹤的探員</div>
              </div>

              <div class="card-body">
                <% if not @followings.present? %>
                  <div class="text-center">尚未追蹤任何探員。<%= link_to "開始追蹤首位探員？", users_path if @user == current_user %> </div>
                <% else %>
                  <% @followings.each do |following| %>
                    <div class="media">
                      <%= gravatar_for(following, "align-self-center mr-2 rounded-circle img-thumbnail thumb48") %>
                      <div class="media-body py-2">
                        <div class="text-bold"><%= following.name %>
                          <div class="text-sm text-muted"><%= truncate(following.description, length: 80) %></div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="card card-default d-none d-lg-block">
              <div class="card-header">
                <div class="card-title text-center">防守範圍</div>
              </div>
              <div class="card-body">
                           <div class="chart-pie flot-chart" id= "tag-chart-pie" style="padding: 0px; position: relative;">
                           </div>
                        </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card card-default">
              <div class="card-header d-flex align-items-center">
                <div class="d-flex justify-content-center col">
                  <div class="h4 m-0 text-center">獲得的評價</div>
                </div>
              </div>
              <div class="card-body bb">
                <div class="row p-3 justify-content-center inner">
                  <%= render partial: 'shared/user_rating', locals:{user: @user, reviews: @reviews, rating_count: @rating_count} %>
                </div>
              </div>
              <div class="card-body">
                <div class="row p-3 justify-content-center">
                  <% @reviews.each do |review| %>
                    <%= render partial: 'shared/review_card', locals:{review: review} %>
                  <%end%>
                </div>
              </div>
            </div>
            <div class="card card-default">
              <div class="card-header d-flex align-items-center">
                <div class="d-flex justify-content-center col">
                  <div class="h4 m-0 text-center">執行過的任務</div>
                </div>
              </div>
              <div class="card-body">
                <div class="row py-4 justify-content-center">
                  <% @missions.each  do|mission| %>
                    <div class="col-6 col-sm-4 col-xl-3">
                      <div class="card border-dark">
                        <div class="card-body text-center">
                          <p class="mb-3">
                            <%= link_to mission_path(mission), remote: true do%>
                              <%= image_tag mission.image_url, class: "rounded thumb96"%>
                            <% end %>
                          </p>
                          <p class="m-0">
                            <strong><%= mission.name %></strong><br>
                            <span>L<%= mission.level %> / Team <%= mission.participant_number %></span>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<script>
(function(window, document, $, undefined) {

    $(function() {

        var data = [
          <% if @tags_data[0].nil? %>
            {
            "label": "尚未執行任何任務",
            "color": "#40464D",
            "data": "1"
            }
          <% else %>
            <% for i in 0..4 %>
              <% break if @tags_data[i].nil? %>
              <%= "," if i >0 %>
              {
              "label": "<%= @tags_data[i][:name]%>",
              "color": "<%= @chart_color[i]%>",
              "data": "<%= @tags_data[i][:taggings_count].to_i %>"
              }
            <%end%>
          <%end%>
        ];

        var options = {
            series: {
                pie: {
                    show: true,
                    innerRadius: 0,
                    label: {
                        show: true,
                        radius: 0.8,
                        formatter: function(label, series) {
                            return '<div class="flot-pie-label">' +
                                //label + ' : ' +
                                Math.round(series.percent) +
                                '%</div>';
                        },
                        background: {
                            opacity: 0.8,
                            color: '#222'
                        }
                    }
                }
            }
        };

        var chart = $('#tag-chart-pie');
        if (chart.length)
            $.plot(chart, data, options);

    });

})(window, document, window.jQuery);
</script>
