<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 py-3 px-4">
      <%= render 'layouts/notice' %>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
              <%= image_tag @user.avatar_url, class: "img-responsive center-block" if @user.avatar_url %>
          </div>
          <div class="col-md-2"></div>

          <div class="col-md-7">
            <h4>名字 <%= @user.name %></h4>
            <p>自我介紹 <%= @user.description %></p>
            <p>性別 <%= @user.gender %></p>
            <p>等級 <%= @user.level %></p>
            <p>XP值 <%= @user.xp %></p>
            <p>角色 <%= @user.role %></p>
            <p>邀請信箱 <%= transcript_user_state(@user.available) %></p>


            <% if @user == current_user %>
              <%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-primary" %>
            <% end %>

            <h4>完成的任務</h4>
            <ul>
            <% @missions.each  do|mission| %>
              <li><%= link_to mission.name, mission_path(mission) %></li>
              <%end %>
            </ul>
            <ul>
            <% @instances.each  do|instance| %>
              <li><%= link_to instance.mission.name + '(副本:' + instance.id.to_s + ')', instance_path(instance) %></li>
              <%end %>
            </ul>

            <h4>大家對 <%= @user.name %>的評價：</h4>
            <ul>
              <% @reviews.each do |review| %>
                <li>
                  <%= review.reviewer.name %>： <%= review.comment %>
                </li>
              <%end%>
            </ul>
            <h4>尚未評論的評價</h4>
            <p>你還有<%= @unsended_reviews.count %> 則評價尚未送出</p>
            <% if current_user == @user %>
              <ul>
                <% @unsended_reviews.each do |review| %>
                <li>你在 <%=link_to review.instance.mission.name , instance_path(review.instance)%> 任務中還沒送出對於<%= review.reviewee.name %> 的評價</li>
                <% end %>
              </ul>
            <% end %>





          </div>
        </div>
      </div>
    </main>
  </div>
</div>
