<div class="row mb-0">
  <div class="col bg-inverse-light card mx-3">
    <%= form_for_filterrific @filterrific, remote: true do |f| %>
      <div class="form-row card-body">
        <div class="form-group col-md-4" data-intro="Search by name or email." data-position="top">
          <h5>搜尋 姓名 或 Email</h5>
          <%= f.text_field :search_query, class: "form-control" %>
        </div>
        <div class="form-group col-md-4" >
          <h5>探員位置</h5>
          <%= f.select(:with_location, @filterrific.select_options[:with_location],{}, {class: "form-control"} ) %>
        </div>
        <div class="form-group col-md-4" >
          <h5>排序</h5>
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],{}, {class: "form-control"} ) %>
        </div>
        <div class="form-group col-lg-6" >
          <h5>探員類型</h5>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-dark <%= 'active' if @filterrific.with_friendtype.blank? %> ">
              <%= f.radio_button :with_friendtype, '' %> 不限
            </label>
            <label class="btn btn-dark <%= 'active' if @filterrific.with_friendtype == "#{current_user.id}_oldteam" %> ">
              <%= f.radio_button :with_friendtype, "#{current_user.id}_oldteam" %> 老隊友
            </label>
            <label class="btn btn-dark <%= 'active' if @filterrific.with_friendtype == "#{current_user.id}_following" %> ">
              <%= f.radio_button :with_friendtype, "#{current_user.id}_following" %> 我在追蹤
            </label>
            <label class="btn btn-dark <%= 'active' if @filterrific.with_friendtype == "#{current_user.id}_follower" %> ">
              <%= f.radio_button :with_friendtype, "#{current_user.id}_follower" %> 追蹤我
            </label>
          </div>
        </div>
        <div class="form-group col-lg-6" >
          <h5>等級</h5>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-dark <%= 'active' if @filterrific.with_level.blank? %> ">
              <%= f.radio_button :with_level, '' %> 不限
            </label>
            <% @filterrific.select_options[:with_level].each do |level| %>
                <%= f.label level[0] ,class: "btn btn-dark #{'active' if @filterrific.with_level.to_s == level[1]}" do %>
                  <%= f.radio_button :with_level, level[1] %> <%= level[0] %>
                <% end %>
            <% end %>
          </div>
        </div>


      </div>
      <%= render_filterrific_spinner %>
    <% end %>
  </div>
</div>
