<div class="row mb-0">
  <div class="col bg-inverse-light card mx-3">
    <%= form_for_filterrific @filterrific, remote: true do |f| %>
      <div class="form-row card-body">
        <div class="col-md-3 form-group" data-intro="Search by name or email." data-position="top">
          <h5>搜尋</h5>
          <%= f.text_field :search_query, class: "form-control" %>
        </div>
        <div class="col-md-6 form-group" >
          <h5>追蹤狀態</h5>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-dark <%= 'active' if @filterrific.with_followtype.blank? %> ">
              <%= f.radio_button :with_followtype, '' %> 不限
            </label>
            <label class="btn btn-dark <%= 'active' if @filterrific.with_followtype == "#{current_user.id}_following" %> ">
              <%= f.radio_button :with_followtype, "#{current_user.id}_following" %> 我追蹤的人
            </label>
            <label class="btn btn-dark <%= 'active' if @filterrific.with_followtype == "#{current_user.id}_follower" %> ">
              <%= f.radio_button :with_followtype, "#{current_user.id}_follower" %> 追蹤我的人
            </label>
          </div>
        </div>
        <div class="col-md-3 form-group" >
          <h5>性別</h5>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-dark <%= 'active' if @filterrific.with_gender.blank? %> ">
              <%= f.radio_button :with_gender, '' %> 不限
            </label>
            <% @filterrific.select_options[:with_gender].each do |gender| %>
                <%= f.label gender[0] ,class: "btn btn-dark #{'active' if @filterrific.with_gender == gender[1]}" do %>
                  <%= f.radio_button :with_gender, gender[1] %> <%= gender[0] %>
                <% end %>
            <% end %>
          </div>
        </div>
        <div class="form-group col-md-3" >
          <h5>排序</h5>
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],{}, {class: "form-control"} ) %>
        </div>

        <div class="form-group col-md-9" >
          <h5>等級</h5>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-dark <%= 'active' if @filterrific.with_level.blank? %> ">
              <%= f.radio_button :with_level, '' %> 不限
            </label>
            <% @filterrific.select_options[:with_level].each do |level| %>
                <%= f.label level[0] ,class: "btn btn-dark #{'active' if @filterrific.with_level.to_s == level[1]}" do %>
                  <%= f.radio_button :with_level, level[1] %> <%= level[0] %>
                <% end %>
            <% end %>
          </div>
        </div>


      </div>
      <%= render_filterrific_spinner %>
    <% end %>
  </div>
</div>
