<% if instances.present? %>
  <% instances.each do |instance| %>
    <div class="col-12 my-2">
      <div class="card" >
        <div class="row">
          <div class="col-4 pr-0">
            <div class="card-body h-100 card-img-left" style="background-image: url(<%= instance.mission.image_url %>);" ></div>
          </div>
          <div class="col-8 pl-0">
            <div class="card-body">
              <h5 class="card-title"><%= link_to instance.mission.name, instance_path(instance) %></h5>
              <p class="card-text"><span class="badge badge-success">Level <%= instance.mission.level %></span> <span class="badge badge-success">Team# <%= instance.mission.participant_number %></span></p>
              <p class="card-text"><%= truncate instance.mission.description, length: 60 %></p>
              <%= enter_instance(instance) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<% else %>
  <div class="col-12">
    <p>無</p>
  </div>
<% end %>
