<% if instances.present? %>
  <div class="col-12 my-3">
    <table class="table table-hover" id="instance_list">
      <thead class="thead-dark">
        <tr>
          <th scope="col">任務名稱</th>
          <th scope="col">任務等級</th>
          <th scope="col">任務人數</th>
          <th scope="col">描述</th>
          <th scope="col">執行成果</th>
          <th scope="col">副本詳情</th>
        </tr>
      </thead>
      <tbody>
        <% instances.each do |instance| %>
          <tr>
            <td><%= link_to instance.mission.name, instance_path(instance) %></th>
            <td><%= instance.mission.level %></td>
            <td><%= instance.mission.participant_number %></td>
            <td><%= truncate instance.mission.description, length: 40 %></td>
            <td><%= instance.state %></td>
            <td><%= link_to "副本詳情", instance_path(instance), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="col-12 my-3">
    <p>無</p>
  </div>
<% end %>
