<% @missions.each do |mission| %>
  <div class="col-sm-6 col-lg-4 col-xl-3 my-3 ">
    <div class="card" >
      <%= image_tag mission.image_url, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= link_to mission.name, mission_path(mission) %></h5>
        <p class="card-text"><span class="badge badge-success">Level <%= mission.level %></span> <span class="badge badge-success">Team# <%= mission.participant_number %></span></p>
        <p class="card-text"><%= truncate mission.description, length: 60 %></p>
        <%= link_to "任務詳情", mission_path(mission), class: "btn btn-primary" %>
        <!-- 任務狀態，若1人任務，直接建立副本開始挑戰，兩人以上，建立副本，直接進入組隊畫面-->
        <a href="#" class="btn btn-warning">接受挑戰</a>
        <!-- 任務狀態 end -->
      </div>
    </div>
  </div>
<%end%>
