<div class="card b text-center mb-2">
  <div class="card-body user-block">
    <div class="user-block-picture w-50">
      <%= link_to gravatar_for(user,"img-thumbnail rounded-circle thumb80 mb-2"), user_path(user), remote: true %>
      <div class='user-block-status'>
        <% if user.available %>
          <div class="circle bg-success circle-lg" data-toggle="tooltip" data-placement="right" title="狀態：接受任務邀請"></div>
        <% else %>
          <div class="circle bg-danger circle-lg" data-toggle="tooltip" data-placement="right" title="狀態：不接受邀請"></div>
        <% end %>
      </div>
    </div>
    <p class="h4 text-bold"><%= link_to user.name, user_path(user), remote: true %><%= content_tag(:span, 'Me' , class: "badge bg-gray-darker ml-2") if user == current_user%></p>
    <% if @instance.present? %>
      <p class="mb-0">
        <%= user_already_done(@instance, user) %>
        <%= user_in_progress(@instance, user) %>
        <%= user_already_decline(@instance, user) %>
      </p>
    <% end %>
  </div>
  <div class="card-body bt">
    <div class="row">
      <div class="col-4 br">
        <strong class="text-primary">Level</strong><br>
        <strong><%= user.level %></strong>
      </div>
      <div class="col-4 br">
        <strong class="text-success">XP</strong><br>
        <strong><%= user.xp %></strong>
      </div>
      <div class="col-4">
        <strong class="text-warning">評價</strong><br>
        <strong><%= user.average_rating_count %></strong>
      </div>
    </div>
  </div>
</div>
<div class='d-flex justify-content-center my-3'>
  <%= render partial: "shared/follow", locals: {user: user} %>
    <% if @instance.present? %>
    <%= button_to "邀請" , invite_user_path(user), params: {instance_id: @instance.id }, remote: true, data: { disable_with: '送出邀請...' }, class: "ml-2 btn btn-primary" if @remaining_invitations_count > 0 %>
  <% elsif @invitation.present? %>
    <!-- 不顯示任何項目 -->
  <% else %>
    <% if user != current_user%>
      <% if  user.available == true  %>
        <%= link_to "邀請組隊", teaming_missions_path(user_id: user.id), class: "btn btn-primary ml-2" %>
      <% else %>
        <button class="btn btn-dark ml-2 disabled" >探員忙碌中</button>
      <% end %>
    <% end %>
  <% end %>
</div>
