<aside class="aside-container">
  <%= render partial: "layouts/sidebar" %>
</aside>
<aside class="offsidebar d-none">
  <%= render partial: "layouts/right_sidebar" %>
</aside>
<section>
  <div class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <h3><%= title '任務邀請' %></h3>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-4">
            <div class="mb-boxes collapse">
              <div class="card card-default">
                <div class="card-body">
                  <ul class="nav nav-pills flex-column">
                    <li class="nav-item p-2">
                      <small class="text-muted">Invitation Boxs</small>
                    </li>
                    <li class="nav-item active">
                      <%= link_to invitations_path, class: "nav-link d-flex align-items-center" do%>
                        <em class="fa fa-fw fa-lg fa-inbox mr-2"></em>
                        <span>收到的邀請</span>
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= link_to sent_index_invitations_path , class: "nav-link d-flex align-items-center" do%>
                        <em class="fa fa-fw fa-lg fa-paper-plane-o mr-2"></em>
                        <span>寄出的邀請</span>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-9 col-lg-8">
            <div class="card card-default" id="invitaions_list">
              <div class="card-body bb">
                <%= %>
                <table class="table table-hover mb-mails">
                  <tbody>
                    <% @received_invitations.each do |invitation| %>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <%= gravatar_for(invitation.user, "mb-mail-avatar mr-2") %>
                          <div class="mb-mail-meta ml-3">
                            <div class="mb-mail-subject">
                              <%= invitation.user.name %> 邀請你一起加入 <%= link_to invitation.instance.mission.name, mission_path(invitation.instance.mission), remote: true%> 任務 <%= cross_invite_badges(invitation) %>
                            </div>
                            <div class="mb-mail-from">
                              <span class="badge bg-green">L<%= invitation.instance.mission.level %></span>
                              <span class="badge bg-info"> XP+ <%= invitation.instance.mission.xp %></span>
                              <%= render partial: 'shared/mission_tags', locals: {mission: invitation.instance.mission} %>
                            </div>
                            <div class="mb-mail-preview">
                              <%= time_ago_in_words(invitation.updated_at) + '前更新' %></div>
                          </div>
                          <div class="mb-mail-date ml-auto">
                            <% if invitation.state == 'inviting' %>
                                <%= link_to '回覆邀請', invitation_path(invitation), remote: true, class: 'btn btn-primary' %>
                              <% else %>
                                <%= link_to '對話紀錄', invitation_path(invitation), remote: true, class: 'btn bg-gray-darker' %>
                            <% end %>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <div class="card-body" >
                <%= paginate @received_invitations %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
