<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 py-3 px-4">
      <%= render 'layouts/notice' %>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3>邀請函列表</h3>
            <div class="row">
              <% if @invitations.present? %>
                <div class="col-12 my-3">
                  <table class="table table-hover" id="invitation_list">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">任務名稱</th>
                        <th scope="col">邀請人</th>
                        <th scope="col">受邀者</th>
                        <th scope="col">邀請狀態</th>
                        <th scope="col">動作</th>
                        <th scope="col">最後更新</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @invitations.each do |invitation| %>
                        <tr>
                          <td><%= invitation.instance.mission.name %></td>
                          <td><%= invitation.user.name %></td>
                          <td><%= invitation.invitee.name %></td>
                          <td><%= invitation.state %></td>
                          <td>
                            <% if invitation.state == 'inviting' %>
                              <%= link_to '聊聊', invitation_path(invitation), remote: true, class: 'btn btn-primary' %>
                            <% else %>
                              <%= link_to '邀請紀錄', invitation_path(invitation), remote: true, class: 'btn btn-primary' %>
                            <% end %>
                            </td>
                          <td><span style="display:none;"><%= invitation.updated_at %></span><%= time_ago_in_words(invitation.updated_at) + ' ago' %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              <% else %>
                <div class="col-12 my-3">
                  <p>無</p>
                </div>
              <% end %>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="invitation_model" tabindex="-1" role="dialog" aria-labelledby="ShowMissionModal" aria-hidden="true"></div>
    </main>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#invitation_list').DataTable({
      "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
      "order": [[ 5, "desc" ]],
      "columnDefs": [
        { "orderable": false, "targets": [4] }
        ]
    });
} );
</script>
