<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 py-3 px-4">
      <%= render 'layouts/notice' %>
      <div class="container">
        <div class="row mb-4">
          <div class="col">
            <h3>邀請函標題 (邀請狀態：<%= @invitation.state %>)</h3>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-6 col-lg-4 mb-3">
            <h4>邀請者</h4>
            <%= render partial:"shared/user_card" , locals: {user: @inviter} %>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <h4>受邀者</h4>
            <%= render partial:"shared/user_card" , locals: {user: @invitee} %>
          </div>
        </div>

        <%= render partial:'instances/mission_info', locals: {mission: @mission} %>


        <div class="row mb-4">
          <div class="col-12">
            <h4>對話</h4>
          </div>
          <div class="col">
            <ul>
              <% @invite_msgs.each do |msg| %>
                <li><%= msg.user.name %> 說： <%= msg.content %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <!-- 訊息留言 -->
        <% if @invitation.state == 'inviting' %>
          <%= simple_form_for @invite_msg ,url: invitation_invite_msgs_path(@invitation) do |f| %>
            <%= f.input :content, label: false, placeholder:'聊聊天吧...'%>
            <%= f.button :submit, '送出', class:"btn btn-primary" %>
          <%end%>
        <%end%>
        <!--===============================-->

        <!-- invitation.state ==inviting -->
        <% if @invitation.state == 'inviting' %>
          <!-- 接受邀請按鈕 -->
          <% if current_user == @invitee %>
            <%= button_to '接受', accept_invitation_path(@invitation) %>
          <% end %>
          <!-- 拒絕邀請按鈕 -->
          <% if current_user == @invitee %>
            <%= button_to '拒絕', decline_invitation_path(@invitation) %>
          <% end %>
        <%end%>
        <!--===============================-->

      </div>
    </main>
  </div>
</div>
