<aside class="aside-container">
  <%= render partial: "layouts/admin_sidebar" %>
</aside>
<section>
  <div class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <h3>公告</h3>
      </div>
      <div class="row">
        <div class="col">
          <table class="table">
            <tbody>
              <th sope="row">id</th>
                <td><%= @announcement.id %></td>
              </tr>
              <th sope="row">作者</th>
                <td><%= @announcement.author.name %></td>
              </tr>
              <tr>
                <th sope="row">標題</th>
                <td><%= @announcement.title %></td>
              </tr>
              <tr>
                <th sope="row">內容</th>
                <td><%=simple_format @announcement.content %></td>
              </tr>

            </tbody>
          </table>

          <%= link_to "回後台首頁", admin_announcements_path, class: "btn btn-primary" %>
          <%= link_to "編輯", edit_admin_announcement_path(@announcement), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</section>
