<aside class="aside-container">
  <%= render partial: "layouts/sidebar" %>
</aside>
<aside class="offsidebar d-none">
  <%= render partial: "layouts/right_sidebar" %>
</aside>
<section>
  <div class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <h3><%= title '戰情中心' %></h3>
      </div>
      <div class="container dashboard">
        <!-- 全站監控版 -->
        <div class="row">
        <!-- 全站完成率 -->
          <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                  <div class="text-center py-1">
                    <div class="easypie-chart easypie-chart-lg" data-easypiechart="" data-percent="<%= @achievement_rate %>" data-animate="{duration: 800, enabled:true}" data-bar-color="#23b7e5" data-track-color="rgba(200,200,200,0.4)" data-scale-color="false" data-line-width="10" data-line-cap="round" data-size="190">
                      <span><%= @achievement_rate %>%</span>
                    </div>
                  </div>
                </div>
              <div class="card-footer text-center text-muted">全員任務完成率</div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row mt-3">
              <div class="col">
                <div class="card flex-row align-items-center align-items-stretch border-0">
                  <div class="col-4 d-flex align-items-center bg-danger-dark justify-content-center rounded-left">
                    <em class="fa fa-bug fa-5x"></em>
                  </div>
                  <div class="col-8 py-3 bg-danger rounded-right text-center">
                        <div class="display-4 mt-0 "><%=@instance_complete_count %></div>
                        <div class="text-uppercase">隻霸閣已被解決</div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card flex-row align-items-center align-items-stretch border-0">
                  <div class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                  <em class="fa fa-user-secret fa-5x"></em>
                  </div>
                  <div class="col-8 py-3 bg-green rounded-right text-center" >
                    <div class="display-4 mt-0 "><%= @users.count %></div>
                    <div class="text-uppercase">位探員debug every night</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col">
                <div class="card flex-row align-items-center align-items-stretch border-0">
                  <div class="col-4 d-flex align-items-center bg-yellow-dark justify-content-center rounded-left">
                    <em class="icon-layers fa-5x"></em>
                  </div>
                  <div class="col-8 py-3 bg-yellow rounded-right text-center ">
                    <div class="display-4 mt-0 "><%= @missions.count %></div>
                    <div class="text-uppercase">個任務需要前往執行</div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card flex-row align-items-center align-items-stretch border-0">
                  <div class="col-4 d-flex align-items-center bg-info-dark justify-content-center rounded-left">
                    <em class="fa fa-comment-o fa-5x"></em>
                  </div>
                  <div class="col-8 py-3 bg-info rounded-right text-center">
                    <div class="display-4 mt-0 "><%= @reviews.count %></div>
                    <div class="text-uppercase">個任務評價</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-8">
              <!-- ERM放送台 start -->
            <div class="card card-dark pt-2 announcement">
              <div class="card-header">
                <div class="card-title">ERM 放送台<span class="align-middle"><i class="fa fa-question-circle float-right " title="" data-container="body" data-trigger='hover' data-toggle="popover" data-placement="top" data-content="這裡是站方公告">
                </i></span></div>
              </div>
              <div class="card-body p-0" data-scrollable="">
                <div class="announcement">
                  <div class="list-group">
                    <% @announcements.each do |announcement| %>
                      <div class="list-group-item list-group-item-action border-0">
                        <div class="media">
                          <div data-toggle="tooltip" data-placement="bottom" title="<%= announcement.author.name %>">
                            <%= gravatar_for(announcement.author, "align-self-start mr-2 img-thumbnail rounded-circle thumb32") %>
                          </div>
                          <div class="media-body text-truncate">
                            <p class="mb-1">
                              <strong class="text-primary">
                                <span><%= link_to announcement.title, announcement_path(announcement), remote: true%></span>
                              </strong>
                            </p>
                          <p class="mb-1 text-sm"><%= announcement.content %></p>
                          </div>
                          <div class="ml-auto">
                            <small class="text-muted ml-2"><%=announcement.updated_at.strftime("%Y-%m-%d %H:%M")%></small>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!-- ERM放送台 end -->

            <!-- 前線戰情彙報 start -->
            <div class="card card-default mt-3 activity-board">
              <div class="card-header">
                <div class="card-title">前線戰情彙報<span class="align-middle"><i class="fa fa-question-circle float-right " title="" data-container="body" data-trigger='hover' data-toggle="popover" data-placement="top" data-content="追蹤探員，來取得他的最新戰情彙報！">
                </i></span></div>
              </div>
              <div class="activity-board-content" data-scrollable="">
               <!-- START list group-->
              <div class="list-group">
                <!-- START list group item-->
                <% @followings_instance_activities.each do |user_instance| %>
                  <%=render partial:'following_activity',locals: {user_instance: user_instance} %>
                <%end%>
               </div>
               <!-- END list group-->
               <!-- START card footer-->
               </div>
               <div class="card-footer"><p class="text-right"><small class="text-muted text-right">前線資料傳送於<%= Time.now.strftime("%Y-%m-%d %H:%M")%></small></p>
               </div>
               <!-- END card-footer-->
            </div>

            <!-- 前線戰情會報 end -->

          </div>  <!-- col-lg-8 end -->

          <!-- 探員龍虎榜 start -->
          <div class="col">
            <div class="card">
              <div class="card-header">
                <div class="card-title">探員龍虎榜 <span class="align-middle"><i class="fa fa-question-circle float-right " title="" data-container="body" data-trigger='hover' data-toggle="popover" data-placement="top" data-content="XP值最高的探員">
                </i></span></div>
              </div>
            </div>
            <% @top_agents.each do |agent| %>
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-5 text-center">
                    <%= image_tag agent.avatar_url, class: 'img-thumbnail circle img-fluid thumb96'%>
                    <!-- <img class="img-thumbnail circle img-fluid thumb96" src="http://facemood.grtimed.com/media/user/img/0dcf898f8c58496a86f42293f1ab397b.png" alt="Image"> -->
                  </div>
                  <div class="col-7">
                    <div class="text-right"><%= render partial: "shared/follow", locals: {user: agent} if agent != current_user %>
                    </div>
                    <div class="d-flex">
                      <div class="text-left">
                        <h3 class="mt-0"><%=link_to agent.name, user_path(agent) %></h3>
                        <p class="text-muted"><%= agent.xp %> xp / 已剷除<%= agent.instances_completed_count %>隻霸閣</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%end%>
          </div>  <!-- col end -->
          <!-- 探員龍虎榜 end -->
        </div>  <!-- row end -->
      </div>

      <div class="content-heading mt-5">
        <h3>熱門任務</h3>
      </div>
      <div class="container dashboard">
        <div class="row mt-1">
          <% @hot_missions.each do |mission| %>
            <div class="col-sm-6 col-lg-4 col-xl-3 my-3">
              <%= render partial:"shared/mission_card" , locals: {mission: mission} %>
            </div>
          <% end %>
        </div>
      </div>
      <% unless @recommended_tag == '' %>
        <div class="content-heading mt-5">
          <h3>你曾經成功挑戰<%= @recommended_tag %>任務，推薦給你...</h3>
        </div>
        <div class="container dashboard">
          <div class="row mt-1">
            <% @recommended_missions.each do |mission| %>
              <div class="col-sm-6 col-lg-4 col-xl-3 my-3">
                <%= render partial:"shared/mission_card" , locals: {mission: mission} %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>


<script>
</script>
