<aside class="aside-container">
  <%= render partial: "layouts/sidebar" %>
</aside>
<aside class="offsidebar d-none">
  <%= render partial: "layouts/right_sidebar" %>
</aside>
<section>
  <div class="section-container">
    <div class="content-wrapper">
      <div class="content-heading d-flex justify-content-between">

        <% if @user %>
          <div class=""><h3><%= title '邀請 '+@user.name+' 一起組隊' %></h3></div>
          <div ><span class="fa fa-question-circle  " title="" data-container="body" data-trigger='hover' data-toggle="popover" data-placement="top" data-content="可以直接挑選任務，對該探員送出組隊邀請！"> </span></div>
        <% else %>
        
          <div>
            <h3><%= title '任務牆' %></h3>
          </div>
          <div ><span class="fa fa-question-circle  " title="" data-container="body" data-trigger='hover' data-toggle="popover" data-placement="top" data-content="挑選一個任務挑戰：如果任務人數為2人，請邀請探員共同組隊挑戰，如果等級不足或者已經正在挑戰任務者，無法挑戰該任務。"> </span></div>
        <% end %>
      </div>
      <div class="container">
        <% if controller?('missions') && action?('index') %>
          <div class="row mb-0">
            <div class="col bg-inverse-light card mx-3">
              <div class="card-body">
                <%= form_for_filterrific @filterrific, remote: true do |f| %>
                  <div class="form-group row" >
                      <label class="col-2">排序方式：</label>
                      <div class="col-10 btn-group btn-group-toggle" data-toggle="buttons">
                        <% @filterrific.select_options[:sorted_by].each do |sorted_by| %>
                            <%= f.label sorted_by[0] ,class: "btn btn-dark #{'active' if @filterrific.sorted_by == sorted_by[1]}" do %>
                              <%= f.radio_button :sorted_by, sorted_by[1] %> <%= sorted_by[0] %>
                            <% end %>
                        <% end %>
                      </div>
                    </div>
                    <div class="form-group row" >
                      <label class="col-2">任務標籤：</label>
                      <div class="col-10 btn-group btn-group-toggle" data-toggle="buttons">
                        <% @filterrific.select_options[:with_tag].each do |tag| %>
                            <%= f.label tag ,class: "btn btn-dark #{'active' if @filterrific.with_tag == tag }" do %>
                              <%= f.radio_button :with_tag, tag %> <%= tag %>
                            <% end %>
                        <% end %>
                      </div>
                    </div>
                  <%= render_filterrific_spinner %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <%= render partial: 'missions_list', locals: { missions: @missions } %>
      </div>
    </div>
  </div>
</section>
