<aside class="aside-container">
  <%= render partial: "layouts/sidebar" %>
</aside>
<aside class="offsidebar d-none">
  <%= render partial: "layouts/right_sidebar" %>
</aside>
<section>
  <div class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <% if @user %>
          <h3><%= title '邀請 '+@user.name+' 一起組隊' %></h3>
        <% else %>
          <h3><%= title '任務牆' %></h3>
        <% end %>
      </div>
      <div class="container">
        <div class="row">
          <% @missions.each do |mission| %>
            <div class="col-sm-6 col-lg-4 col-xl-3 my-3">
              <%= render partial:"shared/mission_card" , locals: {mission: mission} %>
            </div>
          <% end %>

        </div>
        <%= paginate @missions %>
      </div>
    </div>
  </div>
</section>
