<div class="card card-default">
  <div class="card-body bb">
    <div class="row">
      <div class="col-12">
        <%= render partial: "member_list", locals:{members: @members} %>
      </div>
    </div>
  </div>
  <div class="card-body bb">
    <div class="row mb-4">
      <div class="col-12 my-3">
        <h4>任務已放棄</h4>
        <div class="info d-inline float-right">
          <small><em><%=@instance.modifier.name%> 於 <%= @instance.updated_at%> 放棄任務</em></small>
        </div>
      </div>
      <div class="col-12">
        <%= @instance.answer %>
      </div>
    </div>
  </div>
  <div class="card-body bb">
    <%= render partial:'instance_msg_board' %>
  </div>
</div>
