<div class="card card-default">
  <div class="card-body bb">
    <div class="row">
      <div class="col-12">
        <%= render partial: "member_list", locals:{members: @members} %>
      </div>
      <div class="col-12" id="invited_list">
        <%= render partial: "invited_list" %>
      </div>
    </div>
  </div>

  <div class="card-body bb">

    <div class="row mb-4">
      <div class="col-12">
        <h3>可選隊員</h3>
        <h5><span class="badge badge-info">你還可發送 <span id="remaining_invitations"><%=@remaining_invitations_count%></span> 張邀請</span></h5>
      </div>
    </div>

    <div class="row mb-4 ">
      <div class="col bg-inverse-light card mx-3">
        <%= form_for_filterrific @filterrific do |f| %>
        <div class="form-row card-body">
            <div class="col-md-3 form-group" data-intro="Search by name or email." data-position="top">
              <label>Search</label>
              <%= f.text_field :search_query, class: "form-control" %>
            </div>

            <div class="form-group col-md-3" >
              <label>Gender</label>
              <%= f.select(:with_gender, @filterrific.select_options[:with_gender],
                { include_blank: '- 不限 -' }, {class: "form-control"}
              ) %>
            </div>

            <div class="form-group col-md-3" >
              <label>Level</label>
              <%= f.select(:range_level, @filterrific.select_options[:range_level],
                { include_blank: '- 不限 -' }, {class: "form-control"}
              ) %>
            </div>

            <div class="form-group col-md-3" >
              <label>Sorted by</label>
              <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],{}, {class: "form-control"} ) %>
            </div>
          </div>
          <%= render_filterrific_spinner %>
        <% end %>
      </div>
    </div>

    <%= render( partial: 'candidates_list', locals: { candidates: @candidates } ) %>
  </div>
</div>
