<div class="aside-inner">
  <nav class="sidebar">
    <ul class="sidebar-nav">
      <li class="has-user-block">
          <div class="item user-block">
            <div class="user-block-picture">
              <div class="user-block-status">
                <img src="<%= current_user.avatar_url %>" alt="Avatar" width="100" height="100" class="img-thumbnail rounded-circle" />
                  <div class="circle bg-success circle-lg"></div>
              </div>
            </div>
            <div class="user-block-info">
              <span class="user-block-name">Hello, <%= current_user.name %></span>
            </div>
          </div>
      </li>
      <li class="nav-heading">
        <span data-localize="sidebar.heading.HEADER">後台管理</span>
      </li>
      <li class="<%= active_class?(admin_missions_path) %>">
        <%= link_to admin_missions_path do %>
          <em class="icon-layers"></em>
          <span>任務管理</span>
        <% end %>
      </li>
      <li class="<%= active_class?(admin_instances_path) %>">
        <%= link_to admin_instances_path do %>
          <em class="icon-grid"></em>
          <span>副本管理</span>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
