<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <%=link_to "ALPHACamp Warcraft", root_path, class: "navbar-brand col-sm-3 col-md-2 mr-0"%>
      <ul class="navbar-nav px-3">
      <!-- user login -->
        <% if current_user %>
          <li class="nav-item text-nowrap dropdown">
            <%= link_to  "Hello, #{current_user.name}", current_user, class: "nav-link dropdown-toggle", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false" %>
            <div class="dropdown-menu">
              <%= link_to "管理後台", admin_root_path, class: "dropdown-item" if current_user.admin?%>
              <%= link_to '登出', destroy_user_session_path, method: :delete ,class: "dropdown-item"%>
            </div>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to '註冊', new_user_registration_path, class:"nav-link"%></li>
          <li class="nav-item"><%= link_to '登入', new_user_session_path, class:"nav-link" %></li>
        <%end%>
      </ul>
</nav>
