<nav class="navbar topnavbar" role="navigation">
  <div class="navbar-header ">
    <a href="#/" class="navbar-brand">
      <div class="brand-logo">
        <img src="<%= image_path('logo.png') %>" alt="App Logo" class="img-fluid" />
      </div>
      <div class="brand-logo-collapsed">
        <img src="<%= image_path('logo-single.png') %>" alt="App Logo" class="img-fluid" />
      </div>
    </a>
  </div>
    <% if current_user %>
      <ul class="navbar-nav mr-auto flex-row">
        <li class="nav-item">
          <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
          <a class="nav-link d-none d-md-block d-lg-block d-xl-block" href="#" data-trigger-resize="" data-toggle-state="aside-collapsed">
             <em class="fa fa-navicon"></em>
          </a>
          <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
          <a class="nav-link sidebar-toggle d-md-none" href="#" data-toggle-state="aside-toggled" data-no-persist="true">
             <em class="fa fa-navicon"></em>
          </a>
        </li>
      </ul>
    <% end %>
    <ul class="navbar-nav flex-row">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "管理後台", admin_root_path, class: "bg-inverse-dark nav-link" if current_user.admin? %>
        </li>
        <li class="nav-item">
          <%= link_to '登出', destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to '註冊', new_user_registration_path, class: "nav-link"  %></li>
        <li class="nav-item"><%= link_to '登入', new_user_session_path, class: "nav-link" %></li>
      <%end%>
      <!-- Fullscreen (only desktops)-->
      <li class="nav-item d-none d-md-block">
        <a class="nav-link" href="#" data-toggle-fullscreen="">
          <em class="fa fa-expand"></em>
        </a>
      </li>
    </ul>
</nav>
