<nav class="navbar topnavbar" role="navigation">
  <div class="navbar-header ">
    <%= link_to root_path, class: "navbar-brand" do%>
      <div class="brand-logo">
        <img src="<%= image_path('logo.png') %>" alt="App Logo" class="img-fluid" />
      </div>
      <div class="brand-logo-collapsed">
        <img src="<%= image_path('logo-single.png') %>" alt="App Logo" class="img-fluid" />
      </div>
    <% end %>
  </div>
    <% if current_user %>
      <ul class="navbar-nav mr-auto flex-row">
        <li class="nav-item">
          <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
          <a class="nav-link d-none d-md-block d-lg-block d-xl-block" href="#" data-trigger-resize="" data-toggle-state="aside-collapsed">
             <em class="fa fa-navicon"></em>
          </a>
          <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
          <a class="nav-link sidebar-toggle d-md-none" href="#" data-toggle-state="aside-toggled" data-no-persist="true">
             <em class="fa fa-navicon"></em>
          </a>
        </li>
      </ul>
    <% end %>
    <ul class="navbar-nav flex-row">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "管理後台", admin_root_path, class: "bg-inverse-dark nav-link" if current_user.admin? %>
        </li>
        <!-- START notification menu-->
        <li class="nav-item dropdown dropdown-list" data-behavior = 'notifications' >
           <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-toggle="dropdown" data-behavior='notifications-link'>
              <em class="icon-bell"></em>
              <span class="badge badge-danger" data-behavior='unchecked-count'></span>
           </a>
           <!-- START Dropdown menu-->
           <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-item" >
                <!-- START list group-->
                <div class="list-group" data-behavior='notification-items'>
                  <div class="list-group-item list-group-item-action notification-head">
                    <span class="d-flex align-items-center">
                    <span class="text-sm btn btn-link p-0" data-behavior='notification-readall'>全部標示已讀</span>
                    <span class="text-sm"></span>
                    </span>
                  </div>
                    <!-- list item-->
<!--                     <div class="list-group-item list-group-item-action">
                       <div class="media">
                          <div class="align-self-start mr-2">
                             <em class="fa fa-tasks fa-2x text-success"></em>
                          </div>
                          <div class="media-body">
                             <p class="m-0">Pending Tasks</p>
                             <p class="m-0 text-muted text-sm">11 pending task</p>
                          </div>
                       </div>
                    </div>

                    <div class="list-group-item list-group-item-action">
                       <span class="d-flex align-items-center">
                          <span class="text-sm">More notifications</span>
                          <span class="badge badge-danger ml-auto">14</span>
                       </span>
                    </div> -->
                  <div class="list-group-item list-group-item-action">
                    <span class="d-flex align-items-center">
                    <%= link_to '所有通知' , notifications_path, class: 'text-sm' %>
                    </span>
                  </div>
                 </div>
                 <!-- END list group-->
              </div>
           </div>
           <!-- END Dropdown menu-->
        </li>
        <li class="nav-item">
          <%= link_to '登出', destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to '註冊', new_user_registration_path, class: "nav-link"  %></li>
        <li class="nav-item"><%= link_to '登入', new_user_session_path, class: "nav-link" %></li>
      <%end%>
      <!-- Fullscreen (only desktops)-->
      <li class="nav-item d-none d-md-block">
        <a class="nav-link" href="#" data-toggle-fullscreen="">
          <em class="fa fa-expand"></em>
        </a>
      </li>
    </ul>
</nav>
