<!-- START Sidebar (left)-->
<div class="aside-inner">
  <nav class="sidebar">
    <ul class="sidebar-nav">
      <!-- START user info-->
      <li class="has-user-block">
          <div class="item user-block">
            <div class="user-block-picture">
              <div class="user-block-status">
                <img src="<%= current_user.avatar_url %>" alt="Avatar" width="100" height="100" class="img-thumbnail rounded-circle" />
                <% if current_user.available %>
                  <div class="circle bg-success circle-lg"></div>
                <% else %>
                  <div class="circle bg-danger circle-lg"></div>
                <% end %>
              </div>
            </div>
            <div class="user-block-info">
              <span class="user-block-name">Hello, <%= current_user.name %></span>
            </div>
          </div>
      </li>
      <!-- END user info-->

      <li class="nav-heading">
        <span data-localize="sidebar.heading.HEADER">任務資訊</span>
      </li>
      <li class="<%= 'active' if controller?('missions') %>">
        <%= link_to missions_path do %>
          <em class="icon-layers"></em>
          <span>任務牆</span>
        <% end %>
      </li>
      <li class="<%= 'active' if controller?('instances') %>">
        <%= link_to instances_path do %>
          <em class="icon-grid"></em>
          <span>副本列表</span>
        <% end %>
      </li>
      <li class="<%= 'active' if controller?('invitations') %>">
        <%= link_to invitations_path do %>
          <em class="icon-envelope"></em>
          <span>邀請函列表</span>
        <% end %>
      </li>

      <li class="nav-heading">
        <span data-localize="sidebar.heading.HEADER">隊友資訊</span>
      </li>
      <li class="<%= active_class?(user_path(current_user)) %>">
        <%= link_to user_path(current_user) do %>
          <em class="icon-layers"></em>
          <span>關於我</span>
        <% end %>
      </li>
      <li class="<%= 'active' if controller?('users') && action?('index') %>">
        <%= link_to users_path do %>
          <em class="icon-grid"></em>
          <span>隊友清單</span>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
<!-- END Sidebar (left)-->
