<!-- START Sidebar (left)-->
<div class="aside-inner">
  <nav class="sidebar">
    <ul class="sidebar-nav">
      <!-- START user info-->
      <li class="has-user-block">
          <div class="item user-block">
            <div class="user-block-picture">
              <%= link_to user_path(current_user) do %>
                <%= gravatar_for(current_user, "img-thumbnail rounded-circle") %>
              <% end %>
              <div class="user-block-status">
                <% if current_user.available %>
                  <div class="circle bg-success circle-lg" data-toggle="tooltip" data-placement="bottom" title="狀態：接受任務邀請"></div>
                <% else %>
                  <div class="circle bg-danger circle-lg" data-toggle="tooltip" data-placement="bottom" title="狀態：不接受邀請"></div>
                <% end %>
              </div>
            </div>
            <div class="user-block-info">
              <span class="user-block-name">Hello：<%= current_user.name %> 探員</span>
            </div>
            <div class="user-block-info pb-2">
                <div class="row text-center">
                  <div class="col-6 br">
                    <strong><span class="text-primary">Level：</span> <%= current_user.level %></strong>
                  </div>
                  <div class="col-6">
                    <strong><span class="text-success">XP：</span> <%= current_user.xp %></strong>
                  </div>
                </div>
              </div>
          </div>
      </li>
      <!-- END user info-->
      <li class="<%= active_class?(root_path) %>">
        <%= link_to root_path do %>
          <em class="icon-shield"></em>
          <span>戰情中心</span>
        <% end %>
      </li>
      <li class="nav-heading">
        <span data-localize="sidebar.heading.HEADER">任務資訊</span>
      </li>
      <li class="<%= active_class?(missions_path) %>">
        <%= link_to missions_path do %>
          <em class="icon-layers"></em>
          <span>秘密任務室</span>
        <% end %>
      </li>
      <li class="">
        <a href="#progress" title="progress" data-toggle="collapse">
          <%= content_tag :div, current_user.instances_in_progress.count, class: "float-right badge bg-primary" if current_user.instances_in_progress.count > 0 %>
          <em class="icon-fire"></em>
          <span>進行中任務</span>
        </a>
        <ul class="sidebar-nav sidebar-subnav collapse" id="progress">
          <li class="sidebar-subnav-header">進行中任務</li>
          <% if current_user.instances_in_progress.present? %>
            <% current_user.instances_in_progress.each do |instance| %>
              <li class="<%= active_class?(instance_path(instance)) %>">
                <%= link_to instance_path(instance), class: "wrap" do%>
                <span class="float-left badge bg-warning-dark mr-1">L<%= instance.mission.level %></span> <%= truncate(instance.mission.name, length: 18) %>
                <% end %>
              </li>
            <% end %>
          <% else %>
            <li><%= link_to '無! 開始新任務 >>', missions_path %></li>
          <% end %>
        </ul>
      </li>
      <li class="">
        <a href="#teaming" title="teaming" data-toggle="collapse">
          <%= content_tag :div, current_user.instances_teaming.count, class: "float-right badge bg-primary" if current_user.instances_teaming.count > 0 %>
          <em class="icon-refresh"></em>
          <span>組隊中任務</span>
        </a>
        <ul class="sidebar-nav sidebar-subnav collapse" id="teaming">
          <li class="sidebar-subnav-header">組隊中任務</li>
          <% if current_user.instances_teaming.present? %>
            <% current_user.instances_teaming.each do |instance| %>
            <li class="<%= active_class?(instance_path(instance)) %>">
              <%= link_to instance_path(instance), class: "wrap"  do%>
              <span class="float-left badge bg-warning-dark mr-1">L<%= instance.mission.level %></span> <%= truncate(instance.mission.name, length: 18) %>
              <% end %>
            </li>
            <% end %>
          <% else %>
            <li><%= link_to '無! 開始新任務 >>', missions_path %></li>
          <% end %>
        </ul>
      </li>
      <li class="<%= active_class?(history_instances_path) %>">
        <%= link_to history_instances_path do %>
          <%= content_tag :div, current_user.unsubmited_review_count, class: "float-right badge badge-danger" if current_user.unsubmited_review_count > 0 %>
          <em class="icon-grid"></em>
          <span>任務檔案室</span>
        <% end %>
      </li>
      <li class="nav-heading">
        <span data-localize="sidebar.heading.HEADER">秘密通訊</span>
      </li>
      <li class="<%= 'active' if controller?('invitations') %>">
        <%= link_to invitations_path do %>
          <%= content_tag :div, current_user.recived_invite_msgs.unread.count, class: "float-right badge badge-danger", id:"invitation_badge" if current_user.recived_invite_msgs.unread.count > 0 %>
          <em class="icon-envelope"></em>
          <span>任務邀請</span>
        <% end %>
      </li>

      <li class="nav-heading">
        <span data-localize="sidebar.heading.HEADER">探員資訊</span>
      </li>
      <li class="<%= 'active' if controller?('users') && action?('index') %>">
        <%= link_to users_path do %>
          <em class="icon-people"></em>
          <span>探員資料庫</span>
        <% end %>
      </li>
      <li class="<%= active_class?(user_path(current_user)) %>">
        <%= link_to user_path(current_user) do %>
          <em class="icon-user"></em>
          <span>個人檔案</span>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
<!-- END Sidebar (left)-->
