<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <title>AcWarcraft</title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'base' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'base' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="wrapper">
      <header class="topnavbar-wrapper">
        <%= render partial: "layouts/navbar" %>
      </header>
      <%= yield %>
      <footer class="footer-container">
        <%= render partial: "layouts/footer" %>
      </footer>
    </div>
    <%= render 'layouts/notice'%>
    <%= render partial: "layouts/modal" %>

  </body>
</html>
