<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags site: 'ERM 暗碼局', reverse: true %>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'base' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'base' %>
    <%= javascript_include_tag 'application' %>
  </head>
<body>
  <%= render partial: "layouts/gtm_body" %>
  <div class="wrapper">
    <header class="topnavbar-wrapper">
      <%= render partial: "layouts/navbar" %>
    </header>
    <%= yield %>
    <%= render 'layouts/notice'%>
  </div>
</body>
</html>
